.reportsHeading {
  color: #5dc5b8;
  font-size: 2em;
  font-weight: 600;
}

.reportsHR {
  background-color: #5dc5b8;
  border: 0;
}

.reportsTable {
  border: 2px solid rgba(128, 128, 128, 0.39);
  padding: 10px;
  align-content: space-between;
  display: table;
  width: 100%;
}

.reportsTableCell {
  background-color: white;
  font-weight: 500;
}

.reportsTableCell11 {
  width: 50%;
}

.reportsTableCell12 {
  width: auto;
}

.reportsTableCell13 {
  width: auto;
}

.ReportsTable {
  width: 100%;
  border-spacing: 0;
}

.thTest {
  text-align: center;
}

.reportsTableCellHeading {
  background-color: white;
  font-weight: 800;
}

.trHR {
  border-top: 1px solid black;
  margin: 0;
}
